.figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {

    color: #555;
    background-color: #ecf0ec;

}

.mono {
    font-family: 'Inconsolata';
    font-size: 1.2em;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #ecf0ec;
    background-image: none;
    background-repeat: none;
    box-shadow: none;
}

.navbar-fixed-top {
    border-width: 10px 0px 0px;
}
.navbar-default {
    background-color: #ecf0ec;
    background-image: none;
    background-repeat: none;
    border-radius: 4px;
    box-shadow: none;
    border-color: transparent;
    /* border-width: 40px 0px 0px; */
}

.navbar-default .navbar-nav > li > a {
    color: #dd563a;
    font-family: 'Unica One';
    font-size: 2em;
}

.col-md-7 {
    margin: 0 auto;
    float: none;
}

a {
    color: #000080;
}

h1, h2, h3, h4 {
    color: #dd563a;
    font-family: 'Unica One';
}

h1 {
    font-size: 4em;
}

h1.home {
    font-family: 'Pacifico';
    /* color: #342f12; */
    color: #333;
    font-size: 8em;
    text-align: center;
    line-height: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {                                                    
    h1.home {                                                                             
        font-size:5em;                                                                   
    }                                                                                     
}

@media screen and (max-width: 320px) {                                                    
    h1.home {                                                                             
        font-size:1em;                                                                    
    }                                                                                     
} 

body {
    font-family: 'Open Sans';
    background-color: #ecf0ec;
    padding-top: 70px;
}


